@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: oklch(0.94 0.02 345.70);
  --foreground: oklch(0.47 0 0);
  --card: oklch(0.95 0.05 86.89);
  --card-foreground: oklch(0.47 0 0);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0.47 0 0);
  --primary: oklch(0.62 0.18 348.14);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.81 0.07 198.19);
  --secondary-foreground: oklch(0.32 0 0);
  --muted: oklch(0.88 0.05 212.10);
  --muted-foreground: oklch(0.58 0 0);
  --accent: oklch(0.92 0.08 87.67);
  --accent-foreground: oklch(0.32 0 0);
  --destructive: oklch(0.71 0.17 21.96);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.62 0.18 348.14);
  --input: oklch(0.92 0 0);
  --ring: oklch(0.70 0.16 350.75);
  --chart-1: oklch(0.70 0.16 350.75);
  --chart-2: oklch(0.82 0.08 212.09);
  --chart-3: oklch(0.92 0.08 87.67);
  --chart-4: oklch(0.80 0.11 348.18);
  --chart-5: oklch(0.62 0.19 353.91);
  --sidebar: oklch(0.91 0.04 343.09);
  --sidebar-foreground: oklch(0.32 0 0);
  --sidebar-primary: oklch(0.66 0.21 354.31);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.82 0.11 346.02);
  --sidebar-accent-foreground: oklch(0.32 0 0);
  --sidebar-border: oklch(0.95 0.03 307.17);
  --sidebar-ring: oklch(0.66 0.21 354.31);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.4rem;
  --shadow-2xs: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 0.50);
  --shadow-xs: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 0.50);
  --shadow-sm: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1.00), 3px 1px 2px -1px hsl(325.78 58.18% 56.86% / 1.00);
  --shadow: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1.00), 3px 1px 2px -1px hsl(325.78 58.18% 56.86% / 1.00);
  --shadow-md: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1.00), 3px 2px 4px -1px hsl(325.78 58.18% 56.86% / 1.00);
  --shadow-lg: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1.00), 3px 4px 6px -1px hsl(325.78 58.18% 56.86% / 1.00);
  --shadow-xl: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1.00), 3px 8px 10px -1px hsl(325.78 58.18% 56.86% / 1.00);
  --shadow-2xl: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 2.50);
}

.dark {
  --background: oklch(0.25 0.03 234.16);
  --foreground: oklch(0.93 0.02 349.08);
  --card: oklch(0.29 0.03 233.54);
  --card-foreground: oklch(0.93 0.02 349.08);
  --popover: oklch(0.29 0.03 233.54);
  --popover-foreground: oklch(0.93 0.02 349.08);
  --primary: oklch(0.92 0.08 87.67);
  --primary-foreground: oklch(0.25 0.03 234.16);
  --secondary: oklch(0.78 0.08 4.13);
  --secondary-foreground: oklch(0.25 0.03 234.16);
  --muted: oklch(0.27 0.01 255.58);
  --muted-foreground: oklch(0.78 0.08 4.13);
  --accent: oklch(0.67 0.10 356.98);
  --accent-foreground: oklch(0.93 0.02 349.08);
  --destructive: oklch(0.67 0.18 350.36);
  --destructive-foreground: oklch(0.25 0.03 234.16);
  --border: oklch(0.39 0.04 242.22);
  --input: oklch(0.31 0.03 232.00);
  --ring: oklch(0.70 0.09 201.87);
  --chart-1: oklch(0.70 0.09 201.87);
  --chart-2: oklch(0.78 0.08 4.13);
  --chart-3: oklch(0.67 0.10 356.98);
  --chart-4: oklch(0.44 0.07 217.08);
  --chart-5: oklch(0.27 0.01 255.58);
  --sidebar: oklch(0.23 0.03 235.97);
  --sidebar-foreground: oklch(0.97 0.00 264.54);
  --sidebar-primary: oklch(0.66 0.21 354.31);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.82 0.11 346.02);
  --sidebar-accent-foreground: oklch(0.28 0.03 256.85);
  --sidebar-border: oklch(0.37 0.03 259.73);
  --sidebar-ring: oklch(0.66 0.21 354.31);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.4rem;
  --shadow-2xs: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 0.50);
  --shadow-xs: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 0.50);
  --shadow-sm: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 1.00), 3px 1px 2px -1px hsl(206.15 28.06% 27.25% / 1.00);
  --shadow: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 1.00), 3px 1px 2px -1px hsl(206.15 28.06% 27.25% / 1.00);
  --shadow-md: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 1.00), 3px 2px 4px -1px hsl(206.15 28.06% 27.25% / 1.00);
  --shadow-lg: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 1.00), 3px 4px 6px -1px hsl(206.15 28.06% 27.25% / 1.00);
  --shadow-xl: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 1.00), 3px 8px 10px -1px hsl(206.15 28.06% 27.25% / 1.00);
  --shadow-2xl: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 2.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}